
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: red;
    height: 9rem;
    text-align: center;
    border-bottom: 1rem solid #000000;
    
}

main{
    background-color: #196798;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#display-result{
    margin:1rem;
}
form{
    margin: auto;
    padding:1rem;
    display: flex;
    flex-direction: row;
    /*border:1px solid black;*/
}
input[type="text"]{
    height:1rem ;
    padding:0.4rem;
    margin:1rem;
    border:1px solid #AAC8E7;
    border-radius: 5px;
}
input[type="button"]{
    background-color: #AAC8E7;
    border:1px solid #FEFEFE;
    border-radius: 5px;
    color:#FEFEFE;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    padding:0.4rem;
    margin:1rem;
}
.pokemon{
    border:1px solid #808080;
    border-radius: 10px;
    height: 10rem;
    width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:auto;
    margin:1rem;
}

img{
    border:1px solid black;
    border-radius: 5px;
    height: 5rem;
    width: 5rem;
    padding:1rem;
}
.pokemon-info{
    border:1px solid black;
    border-radius: 5px;
    height: 5rem;
    width: 15rem;
    padding:1rem;

}
ul>li{
    
    list-style-type: none;
}